<h2>Modifiers</h2>

<p>The default button is set to 1em; extending the size is available via the size property.  There are 6 different sizes, including the default size: <b>x-small</b>, <b>small</b>, <b>default</b>, <b>medium</b>, <b>large</b> and <b>x-large</b>. Increasing the size, or flat out changing the sizes can be accomplished by updating the sizes mixin with a map of 6 sizes.</p>

<h3>Block</h3>
<a href="#" class="button" size="small" modifier="full" theme="black">Save</a>
<a href="#" class="button" size="medium" modifier="full" theme="white">Submit</a>
<a href="#" class="button" modifier="full" theme="gray">Cancel</a>
<a href="#" class="button" size="large" modifier="full" theme="blue">Sign Up</a>

{% highlight html %}
<a href="#" class="button" size="small" modifier="full" theme="black">Save</a>
<a href="#" class="button" size="medium" modifier="full" theme="white">Submit</a>
<a href="#" class="button" modifier="full" theme="gray">Cancel</a>
<a href="#" class="button" size="large" modifier="full" theme="blue">Sign Up</a>
{% endhighlight %}

<h3>Square</h3>
<a href="#" class="button" size="small" modifier="square full" theme="black">Save</a>
<a href="#" class="button" size="medium" modifier="square border" theme="white">Submit</a>
<a href="#" class="button" modifier="square" theme="gray">Cancel</a>

{% highlight html %}
<a href="#" class="button" size="small" modifier="square full" theme="black">Save</a>
<a href="#" class="button" size="medium" modifier="square border" theme="white">Submit</a>
<a href="#" class="button" modifier="square" theme="gray">Cancel</a>
{% endhighlight %}

<h3>Oval</h3>
<a href="#" class="button" size="small" modifier="oval full" theme="black">Save</a>
<a href="#" class="button" size="medium" modifier="oval border" theme="white">Submit</a>
<a href="#" class="button" modifier="oval" theme="gray">Cancel</a>

{% highlight html %}
<a href="#" class="button" size="small" modifier="oval full" theme="black">Save</a>
<a href="#" class="button" size="medium" modifier="oval border" theme="white">Submit</a>
<a href="#" class="button" modifier="oval" theme="gray">Cancel</a>
{% endhighlight %}

<h3>Bordered</h3>
<a href="#" class="button" size="small" modifier="border full" theme="black">Save</a>
<a href="#" class="button" size="medium" modifier="border square" theme="white">Submit</a>
<a href="#" class="button" modifier="border oval" theme="gray">Cancel</a>
<a href="#" class="button" size="large" modifier="border" theme="blue">Sign Up</a>

{% highlight html %}
<a href="#" class="button" size="small" modifier="border full" theme="black">Save</a>
<a href="#" class="button" size="medium" modifier="border square" theme="white">Submit</a>
<a href="#" class="button" modifier="border oval" theme="gray">Cancel</a>
<a href="#" class="button" size="large" modifier="border" theme="blue">Sign Up</a>
{% endhighlight %}