<h2>Themes</h2>

<h3>Black</h3>

<div>
	<a href="#" class="button" theme="black">A button link</a>
	<a href="#" class="button" modifier="oval" theme="black">View on <b>github</b></a>
	<a href="#" class="button" modifier="square" theme="black">Download <b>.zip</b></a>
	<a href="#" class="button" modifier="border" theme="black">Sign Up ▸</a>
</div>

{% highlight html %}
<a href="#" class="button" theme="black">A button link</a>
<a href="#" class="button" modifier="oval" theme="black">View on <b>github</b></a>
<a href="#" class="button" modifier="square" theme="black">Download <b>.zip</b></a>
<a href="#" class="button" modifier="border" theme="black">Sign Up ▸</a>
{% endhighlight %}

<h3>Blue</h3>

<div>
	<a href="#" class="button" theme="blue">A button link</a>
	<a href="#" class="button" modifier="oval" theme="blue">View on <b>github</b></a>
	<a href="#" class="button" modifier="square" theme="blue">Download <b>.zip</b></a>
	<a href="#" class="button" modifier="border" theme="blue">Sign Up ▸</a>
</div>

{% highlight html %}
	<a href="#" class="button" theme="blue">A button link</a>
<a href="#" class="button" modifier="oval" theme="blue">View on <b>github</b></a>
<a href="#" class="button" modifier="square" theme="blue">Download <b>.zip</b></a>
<a href="#" class="button" modifier="border" theme="blue">Sign Up ▸</a>
{% endhighlight %}

<h3>Grayscale</h3>

<div>
	<a href="#" class="button" theme="gray">A button link</a>
	<a href="#" class="button" modifier="oval" theme="gray">View on <b>github</b></a>
	<a href="#" class="button" modifier="square" theme="gray">Download <b>.zip</b></a>
	<a href="#" class="button" modifier="border" theme="gray">Sign Up ▸</a>
</div>

{% highlight html %}
<a href="#" class="button" theme="gray">A button link</a>
<a href="#" class="button" modifier="oval" theme="gray">View on <b>github</b></a>
<a href="#" class="button" modifier="square" theme="gray">Download <b>.zip</b></a>
<a href="#" class="button" modifier="border" theme="gray">Sign Up ▸</a>
{% endhighlight %}